body{
width:100%;
height:100%;
}
@media screen and (max-width: 800px){
html{
width:800px;
overflow:auto;
}
}
input[type="submit"], input[type="button"]{
width:200px;
hight:60px;
padding:5px 5px;
border:3px;
margin:10px 10px;
font-size:16pt;
border-style:outset;
background-color:LightGray;
}
input[type="text"], input[type="input"]{
width:184px;
hight:60px;
padding:5px 5px;
border:3px;
margin:10px 10px;
font-size:16pt;
border-style:outset;
text-align:center;
justify-content:center;
background-color:White;
}
label{
font-size:16pt;
}
.page-title{
font-size:36px;
text-align:center;
background-color:Green;
}
.container{
width:400px;height:50px;
margin:0 auto;
text-align:center;
}
.left-block{
float:left; 
width:50%;
height:320px;
margin-top:60px;
text-align:right;
font-size:16pt;
}
.left-block-inner{
float:right; 
position:relative;
width:100px;
height:360px;
text-align:right;
margin-top:-206px;
font-size:16pt;
}
.right-block{
float:right; 
width:50%;
height:320px;
margin-top:60px;
text-align:left;
font-size:16pt;
}
.right-block-inner{
float:left;
position:relative;
width:50%;
height:360px;
text-align:left;
margin-top:-202px;
margin-left:284px;
font-size:16pt;
}
.container-observe{
float:left;
position:relative;
left:50%;
width:50%;
height:380px;
}
.left-block-observe{
float:center; 
position:relative;
margin-left:-400px;
height:360px;
text-align:left;
font-size:16pt;
}
.right-block-observe{
float:center; 
position:relative;
width:100%;
margin-right:-400px;
height:360px;
text-align:left;
margin-top:-400px;
font-size:16pt;
}
.change-page-block{
display:flex;
width:100%;
justify-content:center;
}
.footer-block{
display:flex;
width:100%;    
justify-content:center;
background-color:Green;
}
h1 {color:white;}